/* not active */
.nav-pills .pill-1 .nav-link:not(.active) {
    background-color: rgba(0, 0, 128);
}

.nav-pills .pill-2 .nav-link:not(.active) {
    background-color: rgba(61, 101, 39);
}

.nav-pills .pill-3 .nav-link:not(.active) {
    background-color: rgba(230, 126, 0);
    color: white;
}

.nav-pills .pill-4 .nav-link:not(.active) {
    background-color: rgba(154, 0, 0);
    color: white;
}

/* active (faded) */
.nav-pills .pill-1 .nav-link {
    background-color: rgba(0, 0, 128, 0.6);
    color: white;
}

.nav-pills .pill-2 .nav-link {
    background-color: rgba(61, 101, 39, 0.6);
    color: white;
}

.nav-pills .pill-3 .nav-link {
    background-color: rgba(230, 126, 0, 0.6);
    color: white;
}

.nav-pills .pill-4 .nav-link {
    background-color: rgba(154, 0, 0, 0.6);
    color: white;
}